footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 20px 0;
  border-top: 1px solid #ededef;
  background-color: #fff;
}
.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes icons-animation {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons_img {
  width: 30px;
}

.footer-icons:hover .footer-icons_img {
  animation: 1s icons-animation;
}

.footer-icons {
  /* font-size: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 15px 0 15px;
  cursor: pointer;
}
.footer-icons_desc {
  font-size: 10px;
  font-weight: bold;
}
